ARC_RPC_URL=https://rpc.mainnet.arc.io
GOVOO_DB=./data/govoo.db
SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=
GOVOO_HMAC_KEY=

MIN_TRADE_USD=
SMART_WINDOW_DAYS=
SMART_MIN_PNL_USD=
SMART_MIN_LIQ_USD=
BOT_WINDOW_DAYS=
BOT_MIN_TRADES=
BOT_PER_DAY=
BOT_FAST_SEC=
BOT_FAST_PCT=
BOT_HOLD_PCT=
SYBIL_MIN_WALLETS=
SYBIL_MIN_SHARE=
CAND_MIN_MCAP_USD=
CAND_MIN_LIQ_USD=
CAND_MAX_LIQ_RATIO=
CAND_MIN_USD=
WHALE_MIN_SUPPLY_PCT=
WHALE_MIN_HOLDING_USD=
DS_PREFER_RATIO=
